<div class = "main top-main">
    <div class = "top-title">
        <h1>FreeTweet</h1>
        <p>このアプリは好きなことを自由に呟いたり、皆のつぶやきを見ることができるアプリです</p>
        <p>あなたも呟いてみましょう！</p>
    </div>
    <div class = "new-login">
        <a href="/users/signup" class ="new-btn btn">新規登録</a>
        <a href="/login" class ="login-btn btn">ログイン</a>
    </div>
</div>
